{
  "swagger" : "2.0",
  "info" : {
    "description" : "This sensor is located under the Tischkicker Arnim-Kreutzer-Arena and directly mounted on it. It measures the vibration intensity of the Tischkicker. Find detailed specification of the sensor here [Grove-Vibration-Sensor](http://wiki.seeed.cc/Grove-Piezo_Vibration_Sensor). Currently it delivers the measured vibration at the moment of the call. A more comprehensive response is coming soon. ;)",
    "version" : "1.0.0",
    "title" : "Vibration Sensor Service"
  },
  "host" : "kicker-aka.jambit.com:10030",
  "basePath" : "/",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/data" : {
      "get" : {
        "description" : "Returns current value of the sound sensor to the caller",
        "operationId" : "sensor",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/sensorResponse"
            }
          },
          "default" : {
            "description" : "Error",
            "schema" : {
              "$ref" : "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "x-swagger-router-controller" : "SensorController"
    },
    "/swagger" : {
      "x-swagger-pipe" : "swagger_raw"
    }
  },
  "definitions" : {
    "sensorResponse" : {
      "required" : [ "message" ],
      "properties" : {
        "message" : {
          "type" : "string"
        }
      }
    },
    "ErrorResponse" : {
      "required" : [ "message" ],
      "properties" : {
        "message" : {
          "type" : "string"
        }
      }
    }
  }
}