swagger: "2.0"
info:
  version: "1.0.0"
  title: Vibration Sensor Service
  description: This sensor is located under the Tischkicker Arnim-Kreutzer-Arena and directly mounted on it. It measures the vibration intensity of the Tischkicker. Find detailed specification of the sensor here [Grove-Vibration-Sensor](http://wiki.seeed.cc/Grove-Piezo_Vibration_Sensor). Currently it delivers the measured vibration at the moment of the call. A more comprehensive response is coming soon. ;)
# during dev, should point to your local machine
host: kicker-aka.jambit.com:10030
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /data:
    # binds a127 app logic to a route
    x-swagger-router-controller: SensorController
    get:
      description: Returns current value of the sound sensor to the caller
      # used as the method name of the controller
      operationId: sensor
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/sensorResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
definitions:
  sensorResponse:
    required:
      - message
    properties:
      message:
        type: string
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
